@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f2f1f0;
    --foreground: #0d0d0d;
    --primary: #007aff;
}

.dark {
    --background: #0d0d0d;
    --foreground: #f2f1f0;
    --primary: #e6f285;
}

body {
    /* color: var(--foreground);
  background: var(--background); */
    font-family: Arial, Helvetica, sans-serif;
}

.p5Canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    display: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .social-link-text {
        @apply font-mono text-base font-semibold;
    }

    .social-link-arrow-icon {
        @apply -mb-0.5 -ml-1 inline h-[1.5rem] w-[1.5rem];
    }

    .screen-width {
        @apply mx-auto w-full;
    }

    .screen-width-header {
        @apply mx-auto max-w-5xl;
    }
}
